<h1>Create a New Event</h1>

<%= form_for(@event) do |f| %>
    <%= f.label :location %>
    <%= f.text_field :location %>

    <%= f.label :date %>
    <%= f.date_select :occurs_at %>
   
    <%= f.label :time %>
    <%= f.time_select :occurs_at, :ignore_date => true %>

    <%= f.submit %>
<% end %>
